/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* All style */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

header,
main {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
}

img {
    max-width: 100%;
}

/* variable */

:root {
    --primary-color: #FF5400;
    --description-text-color: rgba(19, 19, 24, 0.70);
}

/* Shared Styles */
.btn-primary {
    background-color: #FF5400;
    padding: 15px 32px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-description {
    color: var(--description-text-color);
}

/* header styles */
/* nav styles */

nav ul>li {
    list-style: none;
}

nav {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav>ul {
    display: flex;
    gap: 44px;
}

.logo h2 {
    font-size: 2.25rem;
}

nav ul>li {
    font-size: 1.125rem;
    color: #424247;
}

.logo span,
ul .home {
    color: var(--primary-color);
}

/* banner styles */

.banner {
    background: url(../images/Group\ 13\ \(1\)\ \(1\).png), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    padding: 106px 120px;
    border-radius: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    margin: 24px 50px 48px 50px;
    color: #FFF;
}

.banner form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
    padding: 16px;
}

.banner form input,
form button,
.banner form select {
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    color: var(--description-text-color);
    width: 172px;
}

.banner form>button>i {
    margin-right: 5px;
}

/* Popular styles */
.popular {
    display: flex;
    gap: 50px;
    margin: 100px 0;
    justify-content: space-between;
    align-items: center;
}

.popular-items,
.popular-img {
    width: calc((100% - 50px)/2);
}

.popular-img img {
    width: 100%;
}

.popular-items p {
    margin: 24px 0;
}

.popular-items ul>li {
    margin-top: 13px;
}

/* destination styles */

.destination {
    text-align: center;
}

.destination-description {
    margin: 24px 0 48px 0;
}

.img-box {
    position: relative;
    text-align: center;
    color: white;
    transition: 0.5s;
}

.img-box:hover{
    transform: scale(1.125);
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    font-weight: 800;
}

.img-box img {
    width: 100%;
    height: 300px;
}

.img-1 {
    grid-area: mal;
}

.img-2 {
    grid-area: indo;
}

.img-3 {
    grid-area: lanka;
}

.img-4 {
    grid-area: north;
}

.img-5 {
    grid-area: kashmir;
}

.img-6 {
    grid-area: bdesh;
}

.img-7 {
    grid-area: bban;
}

.destination-container {
    display: grid;
    grid-template-areas:
        'mal mal mal mal mal indo indo indo indo indo'
        'lanka lanka lanka north north north north north kashmir kashmir'
        'bdesh bdesh bdesh bdesh bban bban bban bban bban bban';
    gap: 24px;
}

/* why Choose us styles */
.why-choose-us {
    margin: 100px 0;
}

.choose-items {
    text-align: center;
}

.why-choose-us .section-description {
    margin: 24px 0 48px 0;
}

.choose-box {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
    width: calc((100% - 24px)/2);
}

.choose-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.choose-container-row {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.choose-container-column {
    display: flex;
    justify-content: center;

}

.choose-box-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-box img {
    width: 64px;
    height: 64px;
}

.choose-title {
    color: #131318;
    font-size: 1.5rem;
    margin: 32px 0 16px 0;
}

/* Newsletter styles */
.newsletter-container {
    display: flex;
    gap: 24px;
}

.newsletter-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-description {
    color: #5A5A5D;
    margin: 24px 0;
}

.newsletter-form hr {
    color: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}

.newsletter-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.newsletter-form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 16px 20px;
}

.newsletter-form .btn-primary {
    width: 100%;
}

.newsletter-img {
    position: relative;
}

.floating-text {
    text-align: center;
    position: absolute;
    right: 5px;
    bottom: 65px;
    width: 324px;
    transform: rotate(-19.628deg);
}

.floating-text p {
    font-size: 1.5rem;
}

.floating-text h4 {
    font-size: 2rem;
    font-weight: 800;
}

/* about styles */
.about-us {
    margin-top: 100px;
    text-align: center;
}

.about-us .section-description {
    margin-top: 20px;
}

.about-us-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about-title {
    margin: 24px 0;
    font-size: 1.5rem;
}

.about-box .about-description {
    text-align: justify;
}

.about-box {
    padding: 20px;
    width: calc((100% - 40px) / 3);
    box-shadow: 10px 10px 10px 10px rgba(19, 19, 24, 0.05);
    border-radius: 16px;
    color: rgba(19, 19, 24, 0.70);
    transition: .3s;
}

.about-box:hover {
    transform: scale(1.12);
    background-color: #FF5400;
    box-shadow: 10px 10px 30px 2px #fda87d;
    color: #FFF;
}

/* Footer styles */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.footer-container {
    width: 80%;
    max-width: 872px;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
    text-align: center;
    padding: 110px 0;

}

.footer-logo {
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-container ul>li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-description {
    margin: 15px 0 32px 0;
}

.copyright {
    padding-top: 50px;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
}

.fa-brands {
    font-size: 2rem;
}


/* Responsive Styles */
/* For Mobile */
@media screen and (max-width: 600px) {

    nav,
    nav>ul,
    .banner form,
    .popular,
    .choose-container-row,
    .choose-container-column,
    .newsletter-container,
    .about-us-container {
        flex-direction: column;
    }

    nav {
        gap: 10px;
    }

    nav>ul {
        gap: 15px;
    }

    .logo h2 {
        font-size: 1.5rem;
    }

    .banner {
        padding: 24px 16px;
    }

    .banner-title {
        font-size: 1.375rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .banner form {
        margin: 0 auto;
        text-align: center;
    }

    .banner form input,
    .banner .btn-primary,
    .banner form select {
        padding: 16px;
        margin: 0 auto;
        width: 225px;
    }

    .banner .btn-primary,
    .banner form select {
        padding: 16px;
        width: 257px;
    }

    .popular {
        gap: 30px;
        margin: 50px 0;
    }

    .popular-items,
    .popular-img {
        width: 100%;
    }

    .destination-container {
        grid-template-areas:
            'mal'
            'indo'
            'lanka'
            'north'
            'kashmir'
            'bdesh'
            'bban';
        gap: 10px;
    }

    .img-box img {
        height: 176px;
    }

    .choose-box {
        width: 73%;
    }

    .floating-text {
        width: 180px;
        bottom: 43px;
    }

    .floating-text p {
        font-size: 1rem;
    }

    .floating-text h4 {
        font-size: 1.24rem;
    }

    .about-box{
        width: 100%;
    }

}