/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* All style */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

body {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
}

img {
    max-width: 100%;
}

/* variable */

:root {
    --primary-color: #FF5400;
    --description-text-color: rgba(19, 19, 24, 0.70);
}

/* Shared Styles */
.btn-primary {
    background-color: #FF5400;
    padding: 15px 32px;
    color: #FFF;
    border: none;
    border-radius: 8px;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-description {
    color: var(--description-text-color);
}

/* header styles */
/* nav styles */

nav ul>li {
    list-style: none;
}

nav {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav>ul {
    display: flex;
    gap: 44px;
}

.logo h2 {
    font-size: 2.25rem;
}

nav ul>li {
    font-size: 1.125rem;
    color: #424247;
}

.logo span,
ul .home {
    color: var(--primary-color);
}

/* banner styles */

.banner {
    background: url(../images/Group\ 13\ \(1\)\ \(1\).png), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    padding: 106px 120px;
    border-radius: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    margin: 24px 50px 48px 50px;
    color: #FFF;
}

.banner form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
    padding: 16px;
}

.banner form input,
form button {
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    color: var(--description-text-color);
    width: 172px;
}

.banner form>button>i {
    margin-right: 5px;
}

/* Popular styles */
.popular {
    display: flex;
    gap: 50px;
    margin: 100px 0;
    justify-content: space-between;
    align-items: center;
}

.popular-items,
.popular-img {
    width: calc((100% - 50px)/2);
}

.popular-img img {
    width: 100%;
}

.popular-items p {
    margin: 24px 0;
}

.popular-items ul>li {
    margin-top: 13px;
}

/* destination styles */

.destination {
    text-align: center;
}

.destination-description {
    margin: 24px 0 48px 0;
}

.img-box {
    position: relative;
    text-align: center;
    color: white;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    font-weight: 800;
}

.img-box img {
    width: 100%;
    height: 300px;
}
.img-1{
    grid-area: mal;
}
.img-2 {
    grid-area: indo;
}

.img-3 {
    grid-area: lanka;
}

.img-4 {
    grid-area: north;
}

.img-5 {
    grid-area: kashmir;
}

.img-6 {
    grid-area: bdesh;
}

.img-7 {
    grid-area: bban;
}

.destination-container {
    display: grid;
    grid-template-areas:
        'mal mal mal mal mal indo indo indo indo indo'
        'lanka lanka lanka north north north north north kashmir kashmir'
        'bdesh bdesh bdesh bdesh bban bban bban bban bban bban';
    gap: 24px;
}


/* Responsive Styles */
/* For Mobile */
@media screen and (max-width: 600px) {

    nav,
    nav>ul,
    .banner form,
    .popular {
        flex-direction: column;
    }

    nav {
        gap: 10px;
    }

    nav>ul {
        gap: 15px;
    }
    .logo h2 {
        font-size: 1.5rem;
    }

    .banner {
        padding: 24px 16px;
    }

    .banner-title {
        font-size: 1.375rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .banner form {
        margin: 0 auto;
        text-align: center;
    }

    .banner form input,
    .banner .btn-primary {
        padding: 16px;
        margin: 0 auto;
        width: 225px;
    }

    .banner .btn-primary {
        padding: 16px;
        width: 257px;
    }

    .popular {
        gap: 30px;
        margin: 50px 0;
    }

    .popular-items,
    .popular-img {
        width: 100%;
    }

    .destination-container {
        grid-template-areas:
            'mal'
            'indo'
            'lanka'
            'north'
            'kashmir'
            'bdesh'
            'bban';
        gap: 10px;
    }

    .img-box img {
        height: 176px;
    }
}

/* For Tablet */
@media screen and (min-width: 600px) and (max-width: 992px) {}